<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynr.crawler.haier.access.dao.CrawlerJgjcMapper">
  <resultMap id="BaseResultMap" type="com.ynr.crawler.haier.access.model.CrawlerJgjc">
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="date_date" jdbcType="VARCHAR" property="dateDate" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="stat_type" jdbcType="VARCHAR" property="statType" />
    <result column="raw_price" jdbcType="VARCHAR" property="rawPrice" />
    <result column="fodder_price" jdbcType="VARCHAR" property="fodderPrice" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="balance" jdbcType="VARCHAR" property="balance" />
    <result column="profit_count" jdbcType="VARCHAR" property="profitCount" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.ynr.crawler.haier.access.model.CrawlerJgjc">
    insert into crawler_jgjc_result (batch_id, date_date, product_type, 
      stat_type, raw_price, fodder_price, 
      rate, balance, profit_count, 
      update_date)
    values (#{batchId,jdbcType=INTEGER}, #{dateDate,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{statType,jdbcType=VARCHAR}, #{rawPrice,jdbcType=VARCHAR}, #{fodderPrice,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR}, #{balance,jdbcType=VARCHAR}, #{profitCount,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select batch_id, date_date, product_type, stat_type, raw_price, fodder_price, rate, 
    balance, profit_count, update_date
    from crawler_jgjc_result
  </select>
</mapper>